html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

h1, h2, h3, h4 {
  font-family: 'Spartan', sans-serif;
  font-weight: bolder;
}

label {
  font-size: .8rem;
}

textarea {
  resize: none;
}

.scroll-to-section {
  padding-top: 56px;
}

.social-icon-button {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: black;
}
