html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

h1, h2, h3, h4 {
  font-family: 'Spartan', sans-serif;
  font-weight: bolder;
}

label {
  font-size: .8rem;
}

textarea {
  resize: none;
}

footer {
    background-color: #0a0a08;
    color: #edeaec;
}

.scroll-to-section {
  padding-top: 56px;
}

.social-icon-button {
    text-decoration: none;
    color: #edeaec;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: #edeaec;
}

.black-opaque-bg {
  color: #edeaec;
  background-color: rgba(0,0,0,0.6);
}

.grey-opaque-bg {
    color: #edeaec;
    background-color: rgba(73, 68, 71, 0.6)
}

.section-header-box {
  padding: 1.75rem 4rem 1.75rem 4rem;
  border: solid black 6px;
  font-weight: bolder;
}

#contact-us-section {
    background-image: url("/assets/images/contact-us-section-bg.png") ;
}

